
<div class="card h-100">
    <div class="card-header bg-secondary text-white">
        Customer Latest Registraion Record
    </div>
    <div class="card-body">
        <form>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span class="bullet-icon"></span>
                  <label class="col-sm-3 col-form-label">Name : </label>
                  <p class="text-primary">{{customerName}}</p>
                </li>
                <li class="list-group-item">
                    <span class="bullet-icon"></span>
                    <label class="col-sm-3 col-form-label">Email: </label>
                    <p class="text-primary">{{customerEmail}}</p>
                  </li>
            </ul>
        </form>
    </div>   
</div>
